[workspace]
resolver = "3"
members = ["tix-core", "tix-master", "tix-slave", "tix-rdp-gui", "tix-rdp-slave"]

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
panic = "abort"
strip = true
